<!DOCTYPE html>
<html lang="en">
<head>
  <title>Agenda</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <header>
    <div class="container">
      <p class="logo">Agenda</p>
      <nav>
        <a href="#">Inicio</a>
        <a href="#SomosFCIContact">Quienes Somos</a>
        <a href="#Caracteristicas">Caracteristicas</a>
      </nav>
    </div>

  </header>
  <section id="hero">
    <h1>La mejor aplicación <br> para guardar tus contactos</h1>
    <form action="#">
      <button>Inicia Sesión</button>
    </form>
  </section>
<section id="SomosFCIContact">
  <div class="container">
    <div class="img-container">
      <h2>Somos <span class="color-acento">FCI Contact</span></h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Amet dicta explicabo est reprehenderit a maiores dolor dolorem consequatur, 
        numquam laboriosam quisquam. Quae alias vitae 
        at incidunt facilis itaque accusamus eum.</p>
    </div>
  </div>
</section>

<section id="Caracteristicas">
<div class="container">
    <ul>
      <li>✔️​ 100% Online</li>
      <li>✔️​ Flexibilidad de horarios</li>
      <li>✔️​ Soporte 24hs</li>
      <li>✔️​ Seguridad</li>
    </ul>
</div>
</section>

<footer>
  <div class="container">
    <p>&copy; FCI Contact 2022</p>
  </div>
</footer>

</body>
</html> 